{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Execution Logs</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Timestamp</th>
            <th>Server</th>
            <th>Action</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.server.hostname }} ({{ log.server.ip_address }})</td>
            <td>{{ log.action }}</td>
            <td>{{ log.details }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
